html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(255, 200, 168);
    font-family: "Times New Roman", Times, serif;
}

/* .... CONTAINER ... */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 4, 117);
    color: white;
}

#battleFied {
    min-height: 80vh;
    max-height: 80.1vh;
    box-shadow: 10px 10px 30px rgb(36, 2, 82);
}

#trasparentDiv {
    display: none;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(106, 80, 209, 0.9);
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#winnerContainer {
    background-color: rgb(69, 11, 146);
}

.row.powerImageContainer {
    display: flex;
    justify-content: space-around;
}

#trasparentDiv #winnerContainer {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5% 0;
}

#containerRules .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagesBattleContainer {
    display: flex;
    justify-content: center;
}

#jokenpo {
    display: none;
    background-color: rgb(69, 11, 146);
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

.transparentInternalDiv {
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

.namesOpponents {
    justify-content: space-between;
    border-bottom: double 1px rgb(53, 4, 117);
}

.players {
    max-width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-right: double 4px rgb(10, 145, 10);
    border-left: double  4px rgb(157, 255, 157);
}

.players:nth-child(2) {
    height: 100%;
}

.transparentInternalDiv {
    height: 20%;
}

@media only screen and (min-width: 1200px) {
    #battleFied {
        min-height: 75vh;
        max-height: 75.1vh;
    }
    
    .players {
        max-width: 10%;
    }

    #jokenpo {
        font-size: 2vw;
        margin: 1% 0;
    }
}

@media only screen and (max-width: 1200px) {
    #battleFied {
        min-height: 75vh;
        max-height: 75.1vh;
    }
    
    .players {
        max-width: 15%;
    }

    #jokenpo {
        font-size: 2vw;
        margin: 3% 0;
    }
}

@media only screen and (max-width: 1024px) {
    #battleFied {
        min-height: 70vh;
        max-height: 70.1vh;
    }

    .players {
        max-width: 20%;
    }

    #jokenpo {
        font-size: 6vw;
        margin: 10% 0;
    }
}

@media only screen and (max-width: 768px) {
    #battleFied {
        min-height: 80vh;
        max-height: 80.1vh;
    }

    .players {
        max-width: 20%;
    }

    #jokenpo {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 425px) {
    #battleFied {
        min-height: 65vh;
    }

    .players {
        max-width: 35%;
    }

    #jokenpo {
        font-size: 5vw;
    }
}

/* ........ BUTTONS ........ */
#trasparentDiv .btn-group {
    flex-direction: column;
    width: 30%;
}

.buttonsGroup {
    display: flex;
    justify-content: center;
}

.buttonsGroup button {
    font-size: 1.3em;
    margin-left: .2%
}

.btn-group .btn {
    border: solid 2px red;
}

#rulesButton {
    border: none;
}

#trasparentDiv .btn {
    width: 165%;
    margin-left: -35%;
    border: none;
    margin-top: 2%;
}

#trasparentDiv .btn-success{
    border: solid 2px white;
}

@media only screen and (min-width: 1200px) {
    .buttonsGroup button {
        font-size: 1.8vw;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 1200px) {
    .buttonsGroup button {
        font-size: 1.8vw;
        margin-top: -5%;
    }
}

@media only screen and (max-width: 1024px) {
    .btn-group .btn {
        font-size: 3vw;
    }

    .buttonsGroup button {
        font-size: 4vw;
        margin-top: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .btn-group .btn {
        font-size: 3vw;
    }

    .buttonsGroup button {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 425px) {
    .btn-group .btn {
        border: solid 2px red;
        font-size: 4vw;
    }

    .buttonsGroup button {
        font-size: 5vw;
    }

    #trasparentDiv .btn {
        margin-top: 8%;
    }
}

/*.... STRINGS  .....*/
h1 {
    padding-top: 3%;
    text-shadow: 1px 1px 5px #fc7afc;
}

.namesOpponents div p {
    background-color: green;
    text-align: center;
    font-size: 2.5vw;
}

#robotName {
    margin-top: -24%;
}

.points {
    display: flex;
    justify-content: space-between;
}

.plusOnePoint {
    color: red;
    font-weight: bold;
    font-size: 1.7vw;
}

.placar {
    color: green;
    font-weight: bold;
    margin: 2% 2.5%;
}

#winnerContainer h3 {
    text-shadow: 2px 2px 10px #fc7afc;
}

.difficultyPoints {
    font-size: 3vw;
}

@media only screen and (min-width: 1200px) {
    .namesOpponents div p {
        font-size: 1.2vw;
    }

    .placar {
        font-weight: bold;
        margin: 0 2%;
    }

    #humanPoints,
    #robotPoints {
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 1200px) {
    #humanPoints,
    #robotPoints {
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 1024px) {
    #humanPoints,
    #robotPoints {
        font-size: 5.5vw;
    }

    .plusOnePoint {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .namesOpponents div p {
        font-size: 3.5vw;
    }

    #battleResultHumanPoint,
    #battleResultRobotPoint {
        font-size: 3vw;
    }

    #humanPoints,
    #robotPoints {
        font-size: 6.5vw;
    }

    .difficultyPoints {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 425px) {
    .namesOpponents div p {
        font-size: 5vw;
    }

    #battleResultHumanPoint,
    #battleResultRobotPoint,
    .difficultyPoints {
        font-size: 3vw;
    }

    #humanPoints,
    #robotPoints {
        font-size: 8.5vw;
    }

    .difficultyPoints {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 200%;
    }
}


/*.... LINKS .....*/
header>a,
header>a:hover,
button>a,
button>a:hover {
    text-decoration: none;
    color: white;
}

/* ..... IMAGES ....*/
#humanPowerImage,
#robotPowerImage {
    width: 12vw;
    height: auto;
}

#versusImg {
    min-width: 4vw;
    display: none;
}

@media only screen and (min-width: 1200px) {
    #humanPowerImage,
    #robotPowerImage {
        width: 10vw;
        height: auto;
    }

    #versusImg {
        width: 70%;
        min-width: 1vw;
        display: none;
    }
}

@media only screen and (max-width: 1200px) {

    #humanPowerImage,
    #robotPowerImage {
        width: 12vw;
        height: auto;
    }

    #versusImg {
        width: 70%;
        min-width: 1vw;
        display: none;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 1024px) {

    #humanPowerImage,
    #robotPowerImage {
        width: 100%;
        height: auto;
    }

    #versusImg {
        min-width: 10vw;
        display: none;
        margin-top: 80%;
    }
}

@media only screen and (max-width: 768px) {
    #humanPowerImage,
    #robotPowerImage {
        width: 100%;
        height: auto;
    }

    #versusImg {
        min-width: 12vw;
        display: none;
        margin-top: 80%;
    }
}

@media only screen and (max-width: 425px) {

    #humanPowerImage,
    #robotPowerImage {
        width: 80%;
        height: auto;
    }

    #versusImg {
        min-width: 10vw;
        display: none;
    }
}
