body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    /* align-content:center; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgb(17, 17, 17);
    font-family: "Times New Roman", Times, serif;
    height: auto;
    /* position: fixed; */
    width: 100%;
}

.container-fluid{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 4, 117);
    color: white;
    margin-bottom: 5%;
}

h1{
    padding-top: 5%;
    text-shadow: 1px 1px 5px #fc7afc;
}

.btn-group{
    flex-direction: column;
    max-width: 60%;
    margin-left: 30%;
    margin-top: 3%;
}

.btn{
    margin-bottom: 1%;
    width:50%;
}

.btn-success{
    border: solid 2px white;
}

/*.... IMAGES ....*/
img{
    max-width: 60%;
    max-height: 50vh;
    box-shadow: 5px 5px 10px rgb(179, 126, 248);
}

/*.... LINKS .....*/
header > a, header > a:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1200px){
    .container-fluid{
        margin-bottom: 15%;
    }

    h1{
        font-size: 300%;
        padding-bottom: 6px;
    }

    .btn-group{
        margin-top: 15%;
        max-width: 80%;
        margin-left: 40%;
    }
    
    .btn{
        font-size: 170%;
        font-weight: bold;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 768px){
    .container-fluid{
        margin-bottom: 10%;
    }

    h1{
        font-size: 300%;
        padding-bottom: 6px;
    }

    .btn-group{
        margin-top: 10%;
        max-width: 80%;
        margin-left: 40%;
    }
    
    .btn{
        font-size: 170%;
        font-weight: bold;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 425px){
    .container-fluid{
        margin-bottom: 10%;
    }
    
    h1{
        font-size: 180%;
        padding-bottom: 6px;
        padding-top: 18px;
    }

    .btn{
        font-size: 110%;
        margin-bottom: 2%;
        width:80%;
    }

    .btn-group{
        margin-top: 10%;
        max-width: 60%;
        margin-left: 12.5%;
    }

    img{
        max-width: 80%;
        max-height: 70vh;
    }
}






