@import url("index.css");

/*.. CONTAINERS ..*/
#containerRules{
    background-color: rgb(182, 164, 250);
    color: rgb(12, 12, 12);
    width: 90%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: 7px 7px 5px rgb(140, 54, 253);
    font-size: 1.2em;
}

#containerRules .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.. STRINGS ..*/
@media only screen and (max-width: 768px){
    #containerRules ul, #containerRules ul li{
        margin-left: -1%;
    }
}

@media only screen and (max-width: 425px){
    #containerRules ul, #containerRules ul li{
        margin-left: -3%;
    }
}

/* ....BUTTONS..*/
.btn-success{
    border: solid 2px white;
}

@media only screen and (min-width: 768px){
    #containerRules .btn{
        font-size: 130%;
        margin-top: 5%;
    }
}