@import url("style.css");

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden; 
    background-color:  rgb(255, 200, 168);
    font-family: "Times New Roman", Times, serif;
}

/*.. CONTAINERS ...*/
#containerRules{
    background-color: rgb(148, 130, 223);
    color: rgb(12, 12, 12);
    width: 90%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: 7px 7px 5px rgb(179, 126, 248);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#containerRules ul{
    margin-left: -5%;
}

#containerRules ul li{
    margin-left: -5%;
}

@media only screen and (min-width: 768px){
    #containerRules{
        font-size: 130%;
    }

    #containerRules ul{
        margin-left: 0;
    }
    
    #containerRules ul li{
        margin-left: 0;
    }

    #containerRules .btn{
        font-size: 130%;
        padding: 5% 25%;
        margin-top: 50%;
    }
}



/* ....BUTTONS..*/

.btn-success{
    border: solid 2px white;
}