@import url("index.css");

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden; 
    background-color:  rgb(255, 200, 168);
    font-family: "Times New Roman", Times, serif;
}

/*.. CONTAINERS ..*/
#containerRules{
    background-color: rgb(182, 164, 250);
    color: rgb(12, 12, 12);
    width: 90%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: 7px 7px 5px rgb(140, 54, 253);
}

@media only screen and (min-width: 768px){
    #containerRules{
        font-size: 130%;
    }
}

/*.. STRINGS ..*/
#containerRules ul{
    margin-left: -5%;
}

#containerRules ul li{
    margin-left: -5%;
}

@media only screen and (min-width: 768px){
    #containerRules ul{
        margin-left: 0;
    }
    
    #containerRules ul li{
        margin-left: 0;
    }
}

/* ....BUTTONS..*/
.btn-success{
    border: solid 2px white;
}

@media only screen and (min-width: 768px){
    #containerRules .btn{
        font-size: 130%;
        margin-top: 5%;
    }
}