body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 201, 201);
}


/* .... CONTAINER ... */
.container-fluid{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 1, 105);
    color: white;
}

#battleFied{
    display: flex;
    flex-direction: column;
    width: 85%;
    /* height: 15rem; */
    /* padding: 10px; */
}

.jokenpoMessage {
    display: none;
}

/* ........ BUTTONS ........ */

.buttonsGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*.... INCREASE POINT  .....*/

.points{
    display: flex;
    justify-content: space-between;
}