body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 201, 201);
}

.container{
    width: 70%;
    height: 15rem;
}

.jokenpoMessage {
    display: none;
}

/* #item1, #item2, #item3{
    display: none;
} */