body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 201, 201);
}


/* .... CONTAINER ... */
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-fluid{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 1, 105);
    color: white;
}

#battleFied{
    display: flex;
    flex-direction: column;
    width: 85%;
    /* height: 15rem; */
    /* padding: 10px; */
    /* z-index: 1; */
}

#trasparentDiv{
    display:none;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(106, 80, 209, 0.8);
    z-index: 1;
}

.row.powerImageContainer{
    display: flex;
    justify-content: space-around;
}

#trasparentDiv #winnerMessage{
    display: flex;
    justify-content: center;
    color: white;
}

#containerRules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(148, 130, 223);
    color: rgb(12, 12, 12);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#containerRules .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#humanPowerImage, #robotPowerImage{
    width: 40%;
}

.imagesBattleContainer{
    display:flex;
    justify-content: space-between;
}

#jokenpo{
    display: none;
    z-index: 1;
    position: absolute;
    left: 9%;
    top: 52%;
    width: 84.5%;
    background-color:rgb(69, 11, 146);
    color: white;
}

.transparentInternalDiv{
    /* width:30px; */
    height:30vh;
    /* background-color: red; */
    /* border: green 2px solid; */
    display: flex;
    justify-content: center;
}

/* ........ BUTTONS ........ */

.buttonsGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.clicked{
    color:red;
}

/*.... INCREASE POINT  .....*/

.points{
    display: flex;
    justify-content: space-between;
}

/*.... Links .....*/
header > a{
    text-decoration: none;
    color: white;
}

header > a:hover{
    text-decoration: none;
    color: white;
}

/* ..... Images ....*/
#versusImg{
    width:100%;
}

img .col-3{
    /* height: 2.9em; */
    max-height: .5em;
}